doctype html
html
  head
    title Project Money

    meta(name="viewport" content="width=device-width, initial-scale=1.0")


    <!-- Latest compiled and minified CSS -->
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

    <!-- Optional theme -->
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

    <!-- Latest compiled and minified JavaScript -->
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/style.css")

  body
    header#header
      .header-wrapper
        .header-content
          .container
            nav.navbar
              .container-fluid
                .navbar-header

                  a.navbar-brand.logo(href="#")
                    img.logo-image(src="/assets/imgs/logo.png")
                    .logo-moto
                      h6.moto-item Creativity
                      h6.moto-item Accountibility
                      h6.moto-item Effeciency

                ul.nav.navbar-nav.navbar-right.nav-list
                  li.list-item
                    a(href="#") Small Business
                  li.list-item
                    a(href="#") Accountants
                  li.list-item
                    a(href="#") More
                  li.list-item
                    a.current(href="#") Search
                  li.list-line

            h2.hero-title Best Website Ever!

            .massage-container
              .massage-wrapper
                p.massage Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            .button-container
              .button-wrapper
                a.btn.btn-main Try us for free
                a.btn.btn-secondary Try us for free

    section#main-massage
      h3.main-massage Everything you need to run your business
        span  BEAUTIFULLY

    section#more
      .more-wrapper
        .container
          h2.main-title Super
            span  Cool
            |  Admin Panel
          h6.secondary-title Super Cool Admin Panel
          .button
            a.btn.btn-secondary Try us for free
          .img-container
            .row
              .col-md-4.col-sm-5
                .img-iphone
                  img.iphone(src="assets/imgs/iphone.svg")
                  .iphone-background
                  img.iphone-logo(src="/assets/imgs/apple-logo.svg")

              .col-md-8.col-sm-7
                .img-macbook
                  img.macbook(src="assets/imgs/macbook.svg")
                  .macbook-background
                  img.macbook-logo(src="/assets/imgs/apple-logo.svg")




    section#testimonial
      .testimonial-wrapper
        .testimonial-content
          .header
            .section-box
            h2.section-title Testimonial
          .container
            .testimonial-carousel
              .row
                .col-lg-3.col-sm-4.col-sm-offset-1.col-lg-offset-2.no-padding
                  .person
                    img.hide(src="assets/imgs/person.png")
                    img(src="assets/imgs/person2.png")
                .col-sm-6.no-padding
                  .testimony-wrapper
                    .testimony
                      h2.name Jon
                        span  Ossoln
                      .line
                      p.words Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                    .testimony
                      h2.name Mohammed
                        span  Ossoln
                      .line
                      p.words Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          .companies
            a(href="#")
              img.companies-logos(src="assets/imgs/comp1.png")
            a(href="#")
              img.companies-logos(src="assets/imgs/comp2.png")
            a(href="#")
              img.companies-logos(src="assets/imgs/comp3.png")
            a(href="#")
              img.companies-logos(src="assets/imgs/comp4.png")


    section#statistics
      .statistics-container
        .statistics-wrapper
          .container-fluid
            .row
              .col-sm-4
                .number-wrapper
                  h2.number#myTargetElement 30
                  .line
                  h5.statement Lines of Code
              .col-sm-4
                .number-wrapper
                  h2.number#myTargetElement2 295
                  .line
                  h5.statement Lines of Code
              .col-sm-4
                .number-wrapper
                  h2.number#myTargetElement3 135
                  .line
                  h5.statement Lines of Code


    section#plans
      .plans-container
        .plans-wrapper
          .container-fluid
            .header
              .section-box
              h2.section-title Our Plans
            .row
              .col-sm-4
                .plan-wrapper
                  h2.title Basic
                  .price-container
                    h6.dollar $
                    h2.amount 90
                    h6.period /monthly
                  h5.feature
                    span 1 GB
                    |  Disk Space
                  h5.feature
                    span 1 GB
                    |  Monthly Traffic
                  h5.feature
                    span 10
                    |  Subdomains
                  h5.feature
                    span 25
                    |  Email Accounts
                  h5.feature Webmail Support
                  a.btn.button submit
              .col-sm-4
                .plan-wrapper
                  h2.title Basic
                  .price-container
                    h6.dollar $
                    h2.amount 90
                    h6.period /monthly
                  h5.feature
                    span 1 GB
                    |  Disk Space
                  h5.feature
                    span 1 GB
                    |  Monthly Traffic
                  h5.feature
                    span 10
                    |  Subdomains
                  h5.feature
                    span 25
                    |  Email Accounts
                  h5.feature Webmail Support
                  a.btn.button submit
              .col-sm-4
                .plan-wrapper
                  h2.title Basic
                  .price-container
                    h6.dollar $
                    h2.amount 90
                    h6.period /monthly
                  h5.feature
                    span 1 GB
                    |  Disk Space
                  h5.feature
                    span 1 GB
                    |  Monthly Traffic
                  h5.feature
                    span 10
                    |  Subdomains
                  h5.feature
                    span 25
                    |  Email Accounts
                  h5.feature Webmail Support
                  a.btn.button submit


    section#blog
      .blog-container
        .blog-wrapper
          .container
            .header
              .section-box
              h2.section-title The Blog
            .row
              .col-md-4.col-sm-6
                .post-container
                  .featured-image
                    .tag-container
                      .tag-background
                        h5.tag-name Technology
                    .overlay
                    a.icon(href="#")
                      i.fa.fa-heart-o
                  h2.title Hot Looks: A Fun, Random Beauty Report Straight From The Closet
                  hr
                  h5.author By
                    span  Moe Alhazmi
                  .divider
                  h5.time 3 Months ago
                  .divider
                  h5.comments 5 Comments

              .col-md-4.col-sm-6
                .post-container
                  .featured-image
                    .tag-container
                      .tag-background
                        h5.tag-name Technology
                    .overlay
                    a.icon(href="#")
                      i.fa.fa-search-plus
                  h2.title Hot Looks: A Fun, Random Beauty Report Straight From The Closet
                  hr
                  h5.author By
                    span  Moe Alhazmi
                  .divider
                  h5.time 3 Months ago
                  .divider
                  h5.comments 5 Comments


              .col-md-4.col-sm-6
                .post-container
                  .featured-image
                    .tag-container
                      .tag-background
                        h5.tag-name Technology
                    .overlay
                    a.icon(href="#")
                      i.fa.fa-link
                  h2.title Hot Looks: A Fun, Random Beauty Report Straight From The Closet
                  hr
                  h5.author By
                    span  Moe Alhazmi
                  .divider
                  h5.time 3 Months ago
                  .divider
                  h5.comments 5 Comments


    section#opt-in
      .opt-in-container
        .opt-in-wrapper
          .container
            .row
              .col-sm-12
                .border
                  h2.title Keep In Touch !
                  form.form-wrapper.form-inline.form-horizontal
                    .col-sm-6
                      input.fomr-control.form-style#Name(type="Name" placeholder="Your Name")
                    .col-sm-6
                      input.fomr-control.form-style#Email(type="Name" placeholder="Your Email Address")
                  .btn.button.btn-lg Subscribe

    section#contact
      .contact-container
        .contact-wrapper
          .container-fluid
            .row
              .col-sm-6.no-padding
                .location
                  .background-img
                  .header
                    .section-box
                    h2.section-title Location
                  h5.normal
                    span Monday ~ Friday
                    |  10:00 - 22:00
                  h5.normal
                    span Monday ~ Friday
                    |  10:00 - 22:00
                  br
                  br
                  .wrapper
                    i.fa.fa-map-marker.icon
                    h5.normal.inline Market St #900, San Francisco, CA 94103 1355
                    .wrapper
                    i.fa.fa-credit-card.icon
                    h5.normal.inline Twetter.com
                    .wrapper
                    i.fa.fa-microphone.icon
                    h5.normal.inline +1 415-222-9670


              .col-sm-6.no-padding
                .contactUs
                  .header
                    .section-box
                    h2.section-title Contact Us
                  form
                    .form-group.forms-style
                      input.fomr-control.form-style#Name(type="Name" placeholder="Your Name")
                      input.fomr-control.form-style#Email(type="Email" placeholder="Your Email Address")
                      textarea.form-control.form-style(placeholder="Text" rows="6")


    section#features
      .features-container
        .features-wrapper
          .container
            .header
              .section-box
              h2.section-title Features
            .row
              .col-sm-6.no-padding
                .feature-wrapper
                  .feature-text-wrapper
                    h4.title Feature
                    h6.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .icon-wrapper
                    i.fa.fa-heart.icon
                  .hor-line
                  .ver-line.first


            .row
              .col-sm-6.col-sm-offset-6.no-padding
                .feature-wrapper.reverse
                  .feature-text-wrapper
                    h4.title Feature
                    h6.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .icon-wrapper
                    i.fa.fa-heart.icon
                  .hor-line
                  .ver-line.right

            .row
              .col-sm-6.no-padding
                .feature-wrapper
                  .feature-text-wrapper
                    h4.title Feature
                    h6.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .icon-wrapper
                    i.fa.fa-heart.icon
                  .hor-line
                  .ver-line
            .row
              .col-sm-6.col-sm-offset-6.no-padding
                .feature-wrapper.reverse
                  .feature-text-wrapper
                    h4.title Feature
                    h6.content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .icon-wrapper
                    i.fa.fa-heart.icon
                  .hor-line
                  .ver-line.right
            .row
              .col-sm-6


    //section#team
      .team-wrapper
        .container
          .header
            .circle
            .section-box
            h2.section-title Meet Us
          .circle-big
            .img
          .circle-big
            .img
          .circle-big
            .img
          .circle-big
            .img
          .circle-mid
            .img
          .circle-mid
            .circle-content
              h4.circle-title COOL
          .circle-mid
          .circle-mid
          .circle-mid
          .circle-sm
            .circle-content
              h4.circle-title 10
              h6.circle-paragraph AWARDS
          .circle-sm
          .circle-sm
          .circle-sm

          .circle-xs


    section#footer
      .footer-container
        .footer-wrapper
          .container-fluid
            .row.row-eq-height
              img.logo(src="/assets/imgs/logo.png")
              .footer-massage Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .row
              .col-sm-4
                h5.footer-title Recent Posts
                ul.list
                  li.list-item
                    a
                     span >
                     Blog Slide Show
                  li.list-item
                    a
                     span >
                     Blog Slide Show
                  li.list-item
                    a
                     span >
                     Blog Slide ShowSlide Show
                  li.list-item
                    a
                     span >
                     Blog Slide Showg Slide Show
                  li.list-item
                    a
                     span >
                     Blog Slide Show  Show
              .col-sm-4
                h5.footer-title Recent Posts
                ul.list
                  li.list-item
                    a
                     span >
                     Blog Slide Show
                  li.list-item
                    a
                     span >
                     Blog Slide Show
                  li.list-item
                    a
                     span >
                     Blog Slide ShowSlide Show
                  li.list-item
                    a
                     span >
                     Blog Slide Showg Slide Show
                  li.list-item
                    a
                     span >
                     Blog Slide Show  Show
              .col-sm-4
                .row
                  h5.footer-title Recent work
                  .img-wrapper
                    img.featured-img(src="assets/imgs/1.jpg")
                    img.featured-img(src="assets/imgs/4.jpg")
                    img.featured-img(src="assets/imgs/5.jpg")
                    img.featured-img(src="assets/imgs/1.jpg")
                    img.featured-img(src="assets/imgs/4.jpg")
                    img.featured-img(src="assets/imgs/5.jpg")

                .row
                  h5.footer-title Recent work.
                  i.fa.fa-facebook.icon(aria-hidden="true")
                  i.fa.fa-twitter.icon(aria-hidden="true")
                  i.fa.fa-instagram.icon(aria-hidden="true")
                  i.fa.fa-snapchat-ghost.icon(aria-hidden="true")


            .row
              .col-sm-12

    <!-- Latest compiled and minified Jquery -->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

    <!-- Latest compiled and minified ScrollMgic -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js")

    <!-- Latest compiled and minified ScrollMgic Indicators -->
    script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")

    <!-- Latest compiled and minified ScrollMgic GSAP Plugin -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js")

    <!-- Latest compiled and minified GSAP -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")

    <!-- Latest compiled and minified GSAP -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js")

    <!-- Latest compiled and minified Bootstrap -->
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

    <!-- Latest compiled and minified CountUp -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.7.1/countUp.min.js")

    script(src="assets/js/main.js")
